@tailwind base;
@tailwind components;
@tailwind utilities;

.preserve-3d {
    transform-style: preserve-3d;
}

.rotate-x-10 {
    transform: rotateX(10deg);
}

.rotate-y-45 {
    transform: rotateY(45deg);
}

.-rotate-x-10 {
    transform: rotateX(-10deg);
}